.center{
    border: 1px solid;
    display:flex;
    flex-direction:column;
    width: 50%;
    max-width: 600px;
    margin:auto;
}



.center *{
    margin-left: 10%;
    margin-top:10px;
    margin-bottom:10px;
    width:80%;
    
}

.error{
    display: none;
    color: rgb(248, 12, 12);
}


p {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 18pt;
    text-align: center;
}
